{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- favicons -->
  <link href="{% static 'projects/img/fav-icon.png' %}" rel="icon">
  <link href="{% static 'projects/img/site-icon.png' %}" rel="site-icon">

  <!-- google fonts -->
  <!-- vendor css files -->
  <link href="{% static 'projects/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'projects/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'projects/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'projects/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'projects/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'projects/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- template main css file -->
  <link href="{% static 'projects/css/stylesheet.css' %}" type="text/css" rel="stylesheet">
</head>

<body>
  <!-- ======= mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- header -->
  {% include 'include/header.html' %}
  
  {% block content %}
  
  {% endblock content %}

  <!-- footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- vendor js files -->
  <script src="{% static 'projects/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'projects/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'projects/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'projects/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'projects/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'projects/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'projects/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'projects/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'projects/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- template main js file -->
  <script src="{% static 'projects/js/main.js' %}"></script>
</body>

</html>
