{% extends 'base.html' %}

{% load static %}

{% block title %}Resume{% endblock title %}

{% block content %}

{% if check_main %}<main id="main">{% endif %}
  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
      </div>
      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Projects</h3>
          <!-- <div class="resume-item">
            <h4>EncodeFolders (Кодировка папок)</h4>
            <p><em>
                Кодировка и розкодировка папок по пути. Проект сделан на МАН(в Украине) для помощи
                учителям-судьям при проверке результатов олимпиад, анонимность гарантируеться. <br>
                Формат кодировки: abcdef (где a, b, c, d, e, f - отличные от нуля цифры)
              </em></p>
            <ul>
              <li>
                Project on the GitHub: <a href="https://github.com/r0m1mPL/Python/tree/main/MyPrograms/EncodeFolders"
                  target="_blank"
                  title="Project on the GitHub">https://github.com/r0m1mPL/Python/tree/main/MyPrograms/EncodeFolders</a>
              </li>
              <li>
                Technologies used: Python3; PyQt5; PyQt5 Designer; DB: sqlite3, PyInstaller(to .exe).
              </li>
            </ul>
          </div> -->
          <div class="resume-item">
            <h4>r0m1mPL-SHOP (My Internet Shop)</h4>
            <!-- <h5>2019 - Present</h5> -->
            <!-- <p><em>Experion, New York, NY </em></p> -->
            <p><em>
                Typical Internet Shop..... <br>
                This is an educational project was made only for experience and actually shop doesn't sell something,
                but all functionalities works. Also you can see admin-panel(login and password on the site) and API is
                allowed for everybody.
              </em></p>
            <ul>
              <li>
                Link to the site: <a href="https://r0m1mpl-shop.herokuapp.com/" target="_blank"
                  title="Link to the site">https://r0m1mpl-shop.herokuapp.com/</a>
              </li>
              <li>
                Project on the GitHub: <a href="https://github.com/r0m1mPL/MyInternetShop" target="_blank"
                  title="Project on the GitHub">https://github.com/r0m1mPL/MyInternetShop</a>
              </li>
              <li>
                Technologies used: HTML5; CSS3; js; Django; Django Rest Framework.
              </li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Some small projects from my GitHub</h4>
            <ul>
              <li>
                r0m1mPL-CHATS (My Chat Rooms, the first my Django project)
              </li>
              <p><em>
                  Standard chat platform with login/registration, users can create/delete rooms and messages.
                  Especially this project improved well my CRUD skills in Django. Also simple API is there. <br>
                  Project on the GitHub: <a href="https://github.com/r0m1mPL/Django/tree/master/MyChatRooms"
                    target="_blank"
                    title="Project on the GitHub">https://github.com/r0m1mPL/Django/tree/master/MyChatRooms</a> <br>
                  Technologies used: HTML5; CSS3; js; Django; Django Rest Framework.
                </em></p>
              <li>
                Scrapping Rozetka & send data to Telegram & deploy to heroku
              </li>
              <p><em>
                  First of all, get all needed products' data from the site and put it to json.
                  Telegram bot takes json data and print it to Telegram in HTML format.
                  And deploy all to the Heroku. <br>
                  Project on the GitHub: <a href="https://github.com/r0m1mPL/ScrapingRozetka" target="_blank"
                    title="Project on the GitHub">https://github.com/r0m1mPL/ScrapingRozetka</a> <br>
                  Technologies used: requests; BeautifulSoup4, aiogram; lxml.
                </em></p>
            </ul>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Roma Simachenko</h4>
            <p><em>
                Hi there!! As you probably already know, my full name is Roma Simachenko, nickname is r0m1mPL.
                I programming using programming language Python, have known many libraries and others intresting things
                (in fact this site was made using Django).
                I like to solve different programming questions and tasks (also i registered on the LeetCode,
                Codeforces, etcetera).
                Always open to communication and new acquaintances. My contacts you can find below.
              </em></p>
            <ul>
              <li>Rivne, Ukraine</li>
              <li>without mobile phone</li>
              <li>simachenko.roma@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
  {% if check_main %}
</main>{% endif %}

{% endblock content %}